*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

section {
  background-color: #99feff;
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.row {
  display: grid;
  width: 100vw;
  height: 80px;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 2px solid #423f3e;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  cursor: pointer;
}

/* removing borders */

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: #423f3e;
}

/* creating x */

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/* creating circles */

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%; /* creates a circle*/
}

/* turning the two circles into two separate circles */

.cell.circle::before {
  background-color: white;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  margin-top: 4px;
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  margin-top: 17px;
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #99feff;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  background-color: white;
  border: 1px solid black;
}

.winning-message button:hover {
  background-color: black;
  border-color: white;
  color: white;
}

.winning-message.show {
  display: flex;
}

.row {
  position: relative;
  margin-top: 200px;
}

.turn {
  background-color: #99feff;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

.turn.x {
  border-bottom: 2px solid white;
}

.turn.x::before,
.turn.x::after {
  content: "";
  width: 8px;
  height: 70px;
  position: absolute;
  background-color: #423f3e;
}

.turn.x::before {
  transform: rotate(45deg);
}

.turn.x::after {
  transform: rotate(-45deg);
}

.turn.o {
  border-bottom: 2px solid #423f3e;
}

.turn.o::before,
.turn.o::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  background-color: #423f3e;
}

.turn.o::before {
  width: 63px;
  height: 63px;
  background-color: white;
}

.turn.o::after {
  width: calc(0.8 * 60px);
  height: calc(0.8 * 60px);
  background-color: #99feff;
}
